/* Variables

blue: 6FCBDC;
light-gray: F0F0F0;
orange: F5A623;
red: ED5F5F;
lightgrey: 8F9CB3;

*/

body {
    margin: 0;
    font-family: 'Proxima Nova','Montserrat', sans-serif;
    position: relative;
    color: #3E3E3E;
    overflow-x: hidden;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  border-bottom: 2px solid rgba(245, 166, 35, 0.72);
  color: inherit;
  padding: 3px;
  transition: 0.3s ease;
}

#about a:hover, #FAQ a:hover, #sponsor a:hover, #footer a:hover {
  background-color: rgba(245, 166, 35, 1);
  color: white
}

/* assets */

.logo {
  width: 150px;
  margin-top: -5px
}

#logo_orange {
  display: none
}

.social-icon {
  width: 30px;
  height: 30px;
}

.social-icon:hover {
  background-color: white;
}

.button:hover {
  color: #3E3E3E;
  background-color: white;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.button.blue:hover {
  color: white;
  background-color: #4A90E2;
}

.button.blue {
  color: #4A90E2;
  border-color: #4A90E2;
}

.button {
  border: 2px solid white;
  color: white;
  padding: 12px 25px;
  display: inline-block;
  text-transform: uppercase;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 2px;
}

.pixel {
  position: absolute;
  z-index: 1;
  width: 24px
}

#typed-cursor.blinking {
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from,to {
  color: transparent;
}
 50% {
    color: white;
 }

}

@-moz-keyframes blink {
  from,to {
  color: transparent;
}
 50% {
   color: white;
 }

}

@-webkit-keyframes "blink" {
  from,to {
  color: transparent;
}
 50% {
   color: white;
 }

}

@-ms-keyframes "blink" {
  from,to {
  color: transparent;
}
 50% {
   color: white;
 }

}

@-o-keyframes "blink" {
  from,to {
  color: transparent;
}
 50% {
   color: white;
 }
}

/* utilities */
.clear {
  clear: both;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.36)
}

/* sections */

.section-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  height: 100%;
  max-height: 900px;
}

.section-header {
  font-size: 36px;
  margin-bottom: 80px;
  z-index: 1;
  position: relative;
  text-align: center;
}

.section-header span {
  background-color: white;
  color: #3E3E3E;
  padding: 10px 15px;
}

.section-body {
  width: 100%;
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

.section-body p {
  font-family: "Proxima Nova","Open Sans",sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.8;
  text-align: left;
  color: #3E3E3E;
}

.section-body h1:not(:first-child) {
  margin-top: 150px
}

.slant {
  width: 120%;
  height: 90px;
  position: absolute;
  left: -20px;
  background: inherit;
  z-index: 1;
}

.slant.bottom {
  bottom: -40px;
}

.slant.top {
  top: -40px;
}

.slant.left {
  transform: rotate(-2deg);
}

.slant.right {
  transform: rotate(2deg);
}

.photo-seperator {
  width: 100%;
  position: relative;
}


/* nav */

#nav {
  position: fixed;
  width: 100%;
  padding: 40px 80px 0px 80px;
  z-index: 2;
  /*
  -webkit-box-shadow: 0px 2px 1px 0px rgba(92,92,92,0.24);
  -moz-box-shadow: 0px 2px 1px 0px rgba(92,92,92,0.24);
  box-shadow: 0px 2px 1px 0px rgba(92,92,92,0.24);
  */
  transition: 0.3s ease;
}

#nav.active {
  background-color: white;
  padding-top: 20px
}

#nav.active .nav-section {
  color: #F5A623;
  padding-bottom: 15px;
  opacity: 0.72
}

#nav.active .nav-section.active {
  border-bottom: 3px solid #F5A623;
  opacity: 1
}

#nav.active .nav-section:hover {
  opacity: 1
}

#nav.active .logo {
  margin-bottom: 10px
}

#nav-close {
  display: none;
}

.nav-menu {
  float: right;
  position: relative;
  width: 20px;
  margin-top: 5px;
  display: none;
  cursor: pointer;
}

#nav-sections {
  float: right;
}

.nav-section {
  float: left;
  color: white;
  margin-left: 25px;
  font-size: 18px;
  cursor: pointer;
  padding-bottom: 2px;
  text-transform: uppercase;
  transition: 0.3s ease;
}

.nav-section a, .button a, #social a {
  text-decoration: none;
  border: none;
  padding: 0;
}

.nav-section a:hover, .button a:hover, #social a:hover {
  background-color: initial;
  color: inherit;
}

.nav-section.active {
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}

/* home */

#landing {
  width: 100%;
  height: 600px;
  position: relative;
  padding: 200px 60px 0px 60px;
  /*background-image: url("../img/hackathon_background.jpg");
  background-size: cover;*/
}

#landing-filter-hashtag-instagram-hashtag-besties-for-life-hashtag-no-filter-hashtag-slide-into-my-dms {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background: linear-gradient(90deg, rgba(36, 198, 220, 0.360784) 10%, rgba(81, 74, 157, 0.239216) 90%);
  background-color: rgba(0, 23, 36, 0.74);
}

.section:not(#landing) {
  position: relative;
  width: 100%;
  padding: 80px 60px 120px 60px;
}

#copy-container {
  width: 100%;
  position: relative;
  text-align: center;
  padding: 20px 10px;
  z-index: 1;
}


.headline {
  color: white;
  font-size: 42px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 10px;
  letter-spacing: 0.06em
}

.sub-headline {
  width: 100%;
  font-size: 20px;
  text-align: center;
  line-height: 1.52;
  text-transform: uppercase;
  color: rgb(216, 152, 37);
}

.sub-headline.mini {
  font-size: 16px;
  text-transform: none;
  opacity: 0.72;
  color: white;
  margin-top: 15px
}


#hackathon-laptop {
  position: absolute;
  width: calc(120px + 35%);
  display: block;
  min-width: 400px;
  bottom: 10%;
  left: 10%;
}

/* about */

#about {
  background-color: white;
}

#hackathon_tablet {
  position: absolute;
  right: -5%;
}

#drake-here iframe{
  margin-top: 25px;
}

.drake-me {
  cursor: pointer;
}

.drake {
  width: 24px;
  position: absolute;
  z-index: 1
}
/* hackathon photo */

#hackathon-photo {
  height: 500px;
  color: white
}

/* FAQ */

#FAQ {
  background-color: #F8BF61;
  color: white
}

#FAQ .section-body {
  max-width: 800px;
}

.faq-row {
  width: 50%;
  float: left;
  min-width: 300px;
  padding: 0px 10px
}

.faq-card {
  font-family: "Proxima Nova","Open Sans",sans-serif;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 4px;
  color: #3E3E3E;
  padding: 40px 30px;
  position: relative;
  text-align: left;
  width: 100%
}

.card-title {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 25px;
  font-weight: bold;
}

.card-body {
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
}

/* apply */

#apply {
  height: 600px;
  background-color: #6FCBDC;
}

.desktop-img {
  background-image: url("../img/messy_desk.svg");
  position: absolute;
  top: 0;
  width: 25%;
  height: 100%;
  background-repeat: repeat-y;
  right: 0
}

.apply-container {
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-top: 150px;
  position: relative;
}

.apply-header {
  color: white;
  font-size: 28px;
  line-height: 1.5;
  margin-bottom: 15px
}

.button.apply {
  padding: 12px 25px;
  font-size: 24px
}

/* sponsor */

#rocket {
  width: 150px;
  position: relative;
  margin: 25px 0px;
  margin-left: calc(50% - 75px);
}

#sponsor.section {
  background-color: #F0F0F0;
  color: #8F9CB3;
  padding: 80px 60px;
}

#sponsor .section-body p {
  text-align: center;
  color: inherit;
  line-height: 2.5;
  font-size: 20px
}

#sponsors-container {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
}
.sponsor {
  height: 35px;
  margin: 25px 15px;
  opacity: 0.6;
}

.sponsor.title {
  height: 50px;
  display: block;
  margin: 25px auto 35px auto;
}

.sponsor-medium {
  height: 22px;
}

.partner {
  height: 35px;
  margin: 25px 15px;
  opacity: 0.6;
  margin-top: 20px
}

.partner.title {
  height: 100px;
  display: block;
  margin: 15px auto 20px auto
}

.partner:hover {
  opacity: 1;
  -webkit-filter: none;
}

.sponsor:hover {
  opacity: 1;
  -webkit-filter: none;
}

#sponsors-container h1 {
  margin-bottom: 40px
}


.social {
  margin: 10px 20px;
  border: none;
}

.instagram img {
  height: 25px
}

.social:hover {
  background-color: none;
}

/* footer */

#footer.section {
  background-color: #3E3E3E;
  color: white;
  text-align: center;
  padding: 20px 20px;
  font-family: "Proxima Nova","Open Sans",sans-serif;
}

#footer p {
  font-weight: 100;
  line-height: 1.7
}

#footer p.credit {
  font-size: 12px;
}

/* responsive */

/* ipad */
@media (max-width: 900px) {
  #hackathon_tablet {
    position: relative;
    display: block;
    width: 50%;
    margin-left: 25%;
    right: initial;
    bottom: initial;
    margin-top: -30px;
    margin-bottom: 35px;
  }

  #nav {
    padding: 40px 40px 0px 40px
  }
}

/* phone */
@media (max-width: 700px) {

  h1 {
    font-size: 20px;
    line-height: 1.6
  }

  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.24);
  }

  .slant {
    display: none
  }

  .logo {
    width: 100px;
    margin-top: 5px;
  }

  #nav {
    width: 100%;
    padding: 20px 25px;
    z-index: 3;
  }

  #nav.active-mobile {
    padding: 15px 25px;
    background-color: white;

  }

  #nav-sections {
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,1);
    position: fixed;
    top: 0;
    left: 0;
    padding-top: calc(50vh - 183px);
    display: none;
    opacity: 0;
    transition: 0.3s ease;
  }

  #nav-sections.active {
    opacity: 1;
  }

  .nav-section {
    width: 100%;
    text-align: center;
    color: #3E3E3E;
    font-size: 18px;
    cursor: pointer;
    transition: 0.1s ease;
    margin: 0;
    padding: 20px;
  }

  .nav-section a {
    text-decoration: none;
    color: inherit;
  }

  .nav-section a:hover {
    background-color: initial;
    color: inherit;
  }

  #hackathon-laptop {
    position: relative;
    bottom: 0;
    left: initial;
    width: 1px;
    min-width: 0;
    opacity: 0;
    /* hiding thie in mobile for now. Display none glitches for some reason 8 */
  }

  #menu_white {
    display: block;
  }

  #menu_orange {
    display: none;
  }

  #nav.active-mobile #menu_white {
    display: none;
  }

  #nav.active-mobile #menu_orange {
    display: block;
  }

  #nav-close {
    display: block;
  }

  .nav-section:hover:not(#nav-close), .nav-section.active {
    background-color: #F5A623;
    padding: 20px;
    border: none;
    color: white
  }

  #copy-container {
    margin-top: 10vh;
    width: 100%;
    text-align: center;
    padding: 20px 10px;
  }

  .headline {
    font-size: 32px;
  }

  .sub-headline {
    font-size: 16px;
    font-weight: bold;
  }

  /* fake selector for higher specificity */
  .section:not(#splash) {
    padding: 40px 20px;
  }

  .button {
    width: 100%;
    margin: 8px 0px;
    text-align: center;
  }

  .button.apply {
    width: initial
  }

  .faq-row {
    width: 100%;
    min-width: initial;
  }

  .fancy-seperator {
    width: 60%;
  }

  .section-body h1 {
    font-size: 20px;
    margin-bottom: 20px
  }

  .section-body p {
    font-size: 16px;
  }

  .section-header {
    font-size: 20px;
    margin-bottom: 40px;
    text-align: center;
  }

  #hackathon_tablet {
    position: relative;
    display: block;
    width: 75%;
    margin-left: 12.5%;
    right: initial;
    bottom: initial;
    margin-top: -30px;
    margin-bottom: 35px;
  }

  #about .section-header {
    margin-top: 30px;
  }

  #hackathon-photo {
    height: 350px;
    background-image: url("../img/crowd.jpg");
    background-size: cover;
  }

  /*landing*/
  #landing {
    background-image: url("../img/hackathon_background.jpg");
  }

  /* apply */
  #apply {
    height: auto;
    /* background-image: url("../img/stars.jpeg"); */
  }

  #apply .section-header {
    margin-top: 30px;
  }

  #apply .apply-container {
    margin: 0;
  }

  #apply .apply-header {
    font-size: 22px
  }

  /*sponsors */
  #sponsors-container {
    width: 100%;
    padding: 0px 15px;
  }
  .sponsor {
    height: 15px;
    margin: 10px;
  }

  .sponsor.title {
    height: 25px;
    margin: 10px auto 20px auto;
  }

  .sponsor-medium {
    height: 10px
  }

  .partner {
    height: 25px;
    margin: 10px
  }

  .partner.title {
    height: 60px;
    margin: 15px auto;
  }

  #sponsor .section-body p {
    font-size: 16px;
  }

  #rocket {
    width: 100px;
    margin: 20px 0px;
    margin-left: calc(50% - 50px);
  }

  /* footer */

  #social.section {
    padding: 25px 20px
  }

  #footer p {
    font-size: 14px;
    line-height: 1.8;
  }

  .desktop-img {
    display: none
  }



}
