body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    color: #3E3E3E;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Variables

blue: 4A90E2;
light-gray: F0F0F0;
orange: F5A623;

*/

#nav {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: rgba(255,255,255,0.84);
  padding: 0px 35px;
  z-index: 1;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(92,92,92,0.24);
  -moz-box-shadow: 0px 2px 1px 0px rgba(92,92,92,0.24);
  box-shadow: 0px 2px 1px 0px rgba(92,92,92,0.24);
}

#logo {
  width: 200px;
  float: left;
  position: absolute;
  margin-top: 16px;
}

#menu {
  width: 20px;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  cursor: pointer;
}

#social {
  position: absolute;
  right: 0;
  padding: 12px 0px;
  margin-right: 35px;
  top: 0;
}

.social-icon {
  width: 35px;
  margin-left: 10px
}


#splash {
  background-image: url("../img/crowd.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

.section {
  position: relative;
  width: 100%;

}

#splash-top {
  width: 100%;
  height: 40%;
  background-color: #4A90E2;
  position: absolute;
  top: 0
}

#splash-bottom {
  width: 100%;
  height: 35%;
  background-color: #F0F0F0;
  position: absolute;
  bottom: 0
}

.headline {
  width: 720px;
  color: white;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 120px auto 15px auto;
  text-align: center;
  line-height: 1.34;
}

.sub-headline {
  width: 720px;
  font-size: 20px;
  text-align: center;
  line-height: 1.52;
  margin: 0 auto;
}


#splash-logo {
  margin: 20px auto;
  display: block
}

.button {
  border: 2px solid #3E3E3E;
  padding: 12px 25px;
  display: inline-block;
  text-transform: uppercase;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.button:hover {
  color: white;
  background-color: #3E3E3E;
}

.button-container {
  text-align: center;
  margin-top: 35px;
}

.button.blue:hover {
  color: white;
  background-color: #4A90E2;
}

.button.blue {
  color: #4A90E2;
  border-color: #4A90E2;
}




















